.login {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  left: 372px;
  position: absolute;
  top: 431px;
  width: 697px;
}

img {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 169px;
  width: 208px;
}
